$xs: '(max-width: 575.9px)';
$sm: '(min-width: 576px)';
$md: '(min-width: 768px)';
$lg: '(min-width: 992px)';
$xl: '(min-width: 1200px)';
$xxl: '(min-width: 1400px)';
:root {
    --time-transition: .3s;
    --c-blue-hover: #1b7ff9;
    --c-blue-main: #0071f8;
    --c-red-main: #ee626b;
    --c-white-hover: #ffffff1a;
    --c-white-main: #fff;
    --c-black-shadow: #0000001a;
    --c-grey-main: #eeeeee;
    --fs-14: 14px;
}